@import url(https://fonts.googleapis.com/css?family=Wix+Madefor+Display:regular,500,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Abel:regular);
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Golos+Text:regular,500,600,700,800,900);
@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #202021;
  line-height: 1;
  font-family: "Wix Madefor Display";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Wix Madefor Display";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 93.125rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 140009;
}

body.popup-show::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 140010;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  transform: scale(1);
}

.popup__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  transform: scale(0);
  transition: transform 0.3s ease 0s;
  background-color: #fff;
  padding: 75px;
  width: 100%;
  max-width: 550px;
  border-radius: 20px;
}
@media (max-width: 63.99875em) {
  .popup__content {
    padding: 50px 25px;
  }
}
.lock .popup__content {
  visibility: visible;
}

.popup__form {
  display: grid;
}
.popup__title {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 40px;
}
@media (max-width: 63.99875em) {
  .popup__title {
    font-size: 1.875rem;
    margin-bottom: 30px;
  }
}
@media (max-width: 47.99875em) {
  .popup__title {
    font-size: 1.5rem;
  }
}
.popup__border-inpt {
  position: relative;
}
.popup__border-inpt::after {
  content: "";
  border-radius: 10px;
  border: 1px solid #a3abc3;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .popup__border-inpt:hover::after {
    border-color: #202021;
  }
}
.popup__border-inpt:not(:last-child) {
  margin-bottom: 20px;
}
.popup__input {
  position: relative;
  z-index: 1;
  padding: 20px;
  width: 100%;
  background-color: transparent;
  transition: border 0.3s ease 0s;
  border: 2px solid transparent;
  border-radius: 10px;
}
.popup__input::placeholder {
  color: #a3abc3;
  outline: 0 solid;
  font-size: 1rem;
}
.popup__input:focus {
  border-color: #0056fe;
  outline: none;
}
.popup__submit {
  margin-bottom: 17px;
}
.popup__compr {
  display: inline-block;
  text-align: center;
  font-size: 0.875rem;
  line-height: 120%;
  color: #a3abc3;
}

.popup__close {
  position: absolute;
  background-color: transparent;
  top: 20px;
  right: 20px;
  font-weight: 700;
  background: url("../img/icons/close-pop.svg") 0 0 no-repeat;
  width: 24px;
  height: 24px;
}
@media (min-width: 63.99875em) {
  .popup__close {
    display: none;
  }
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.btn {
  cursor: pointer;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1;
  padding: 1.25rem 1.875rem;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  z-index: 21;
}
.btn span {
  position: relative;
  z-index: 1;
}
.btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: all 0.4s ease 0s;
  border-radius: 10px;
}
@media (max-width: 47.99875em) {
  .btn {
    font-size: 0.875rem;
    padding: 0.8125rem 1.375rem;
  }
}

.btn_blue {
  background-color: #0056fe;
  color: #fff;
}
@media (any-hover: hover) {
  .btn_blue:hover::after {
    background-color: #00308e;
  }
}

.btn_white {
  color: #202021;
  text-wrap: nowrap;
}
@media (any-hover: hover) {
  .btn_white:hover::after {
    background-color: #c3cbd0;
  }
}

.bg {
  background-color: #eff1f7;
  border-radius: 40px;
}

.section {
  padding-bottom: 9.375rem;
}
@media (max-width: 63.99875em) {
  .section {
    padding-bottom: 3.75rem;
  }
}

.nav-slider {
  display: flex;
  column-gap: 1.6875rem;
}
@media (max-width: 63.99875em) {
  .nav-slider {
    height: 2.5rem;
  }
}
.nav-slider__prev, .nav-slider__next {
  width: 3.5rem;
  height: 3.5rem;
  background: #eff1f7;
  box-shadow: -5px -5px 18px rgba(255, 255, 255, 0.9), -3px -3px 10px #ffffff, 3px 3px 10px rgba(210, 218, 227, 0.5), 5px 5px 20px rgba(200, 212, 223, 0.8);
  border-radius: 8px;
  position: relative;
}
.nav-slider__prev::after, .nav-slider__next::after {
  content: "";
  background: url("../img/icons/arrow-slider.webp") center center/17px 13px no-repeat;
  width: 1.0625rem;
  height: 0.8125rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (any-hover: hover) {
  .nav-slider__prev:hover, .nav-slider__next:hover {
    /* Type=12, State=Hover */
    box-shadow: inset -3px -4px 6px #ffffff, inset -2px -3px 6px rgba(136, 165, 191, 0.3), inset 2px 2px 12px rgba(136, 165, 191, 0.6);
  }
}
@media (max-width: 63.99875em) {
  .nav-slider__prev, .nav-slider__next {
    width: 2.5rem;
    height: 2.5rem;
  }
}
@media (any-hover: hover) {
  .nav-slider__prev:hover, .nav-slider__next:hover {
    animation-name: example;
    animation-duration: 0.1s;
    background: #eff1f7;
    box-shadow: 0px 0px 0px 0px, 0px 0px 0px 0px, 0px 0px 0px 0px, 0px 0px 0px 0px, inset -3px -4px 7px #ffffff, inset 3px 3px 7px rgba(136, 165, 191, 0.56);
  }
}
@keyframes example {
  0% {
    box-shadow: -20px -20px 34px rgba(255, 255, 255, 0.8), -5px -5px 10px #ffffff, 5px 5px 13px rgb(255, 255, 255), 15px 10px 10px rgba(255, 255, 255, 0.7), inset 0px 0px 0px 0px #fff, inset 0px 0px 0px 0px #fff;
  }
  50% {
    box-shadow: 0px 0px 0px #fff, 0px 0px 0px #ffffff, 0px 0px 0px #fff, 0px 0px 0px #fff, inset 1px 1px 1px #ffffff, inset 1px 1px 1px #fff;
  }
  100% {
    box-shadow: 0px 0px 0px 0px, 0px 0px 0px 0px, 0px 0px 0px 0px, 0px 0px 0px 0px, inset -2px -3px 3px #ffffff, inset 0px 0px 0px rgba(136, 165, 191, 0.56);
  }
}
.nav-slider__prev::after {
  background-position: top 0px left 2px;
}
.nav-slider__next::after {
  transform: translate(-50%, -50%) rotate(-180deg);
  background-position: top 1px left 2px;
}

.title-section {
  line-height: 120%;
  font-weight: 700;
  text-fill-color: transparent;
}
@media (min-width: 99.99875em) {
  .title-section {
    font-size: 3.125rem;
  }
}
@media (min-width: 80em) and (max-width: 99.99875em) {
  .title-section {
    font-size: clamp( 2.1875rem , -1.5627343896rem  +  4.6877929871vw , 3.125rem );
  }
}
@media (max-width: 80em) {
  .title-section {
    font-size: 2.1875rem;
  }
}
@media (max-width: 63.99875em) and (min-width: 63.99875em) {
  .title-section {
    font-size: 2.1875rem;
  }
}
@media (max-width: 63.99875em) and (min-width: 26.83625em) and (max-width: 63.99875em) {
  .title-section {
    font-size: clamp( 1.375rem , 0.7882673226rem  +  2.1863437605vw , 2.1875rem );
  }
}
@media (max-width: 63.99875em) and (max-width: 26.83625em) {
  .title-section {
    font-size: 1.375rem;
  }
}
@media (max-width: 29.99875em) {
  .title-section {
    line-height: 120%;
  }
}

.small-title-section {
  line-height: 140%;
  font-weight: 700;
}
@media (min-width: 63.99875em) {
  .small-title-section {
    font-size: 1.625rem;
  }
}
@media (min-width: 47.99875em) and (max-width: 63.99875em) {
  .small-title-section {
    font-size: clamp( 1.25rem , 0.1250292969rem  +  2.34375vw , 1.625rem );
  }
}
@media (max-width: 47.99875em) {
  .small-title-section {
    font-size: 1.25rem;
  }
}

.blue-text {
  background: linear-gradient(103.92deg, #39c7ec -0.61%, #39c7ec -0.61%, #0050ec 57.48%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

@media (max-width: 63.99875em) {
  ._none-px {
    padding: 0 0;
  }
}

.icon-styl {
  background: #eff1f7;
  box-shadow: -1px -1px 4px rgba(255, 255, 255, 0.8), -7px -7px 14px #ffffff, 2px 2px 3px rgba(210, 218, 227, 0.3), 3px 3px 17px rgba(210, 218, 227, 0.8);
  border-radius: 10px;
  padding: 14px;
}
.icon-styl img {
  width: 2.25rem;
  height: 2.25rem;
}

/* Frame 132 */
.header {
  padding: 22px 0;
}
.header__container {
  font-size: 16px;
  line-height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  position: relative;
  z-index: 22;
  margin-right: 20px;
}

.menu__body {
  display: flex;
  column-gap: 40px;
}
@media (max-width: 63.99875em) {
  .menu__body {
    display: none;
  }
}
.menu__list {
  display: flex;
  align-items: center;
  column-gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
}
.menu__item {
  position: relative;
  transition: all 0.4s ease 0s;
}
.menu__item.drop-down {
  padding-right: 18px;
}
.menu__item._active::after {
  height: 2px;
  width: 101px;
  background-color: #0056fe;
  position: absolute;
  content: "";
  bottom: -18px;
  left: -16px;
  opacity: 1;
  visibility: visible;
  transition: all 0.4s ease 0s;
  transform: translate(0px, 0px);
}
.menu__item::after {
  content: "";
  opacity: 0;
  visibility: hidden;
  transform: translate(-10px, 0px);
}
.menu__item.drop-down::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 6px;
  top: 50%;
  right: 0px;
  transform: rotate(-180deg);
  background: url("../img/icons/arrow-dropmenu.svg") center right/cover no-repeat;
}
.menu__item._active::before {
  background: url("../img/icons/arrow-dropmenu-hover.svg") center right/cover no-repeat;
}
@media (any-hover: hover) {
  .menu__item:hover::before {
    background: url("../img/icons/arrow-dropmenu-hover.svg") center right/cover no-repeat;
  }
  .menu__item:hover.drop-down::after {
    height: 2px;
    width: 101px;
    background-color: #0056fe;
    position: absolute;
    content: "";
    bottom: -18px;
    left: -16px;
    opacity: 1;
    visibility: visible;
    transition: all 0.4s ease 0s;
    transform: translate(0px, 0px);
  }
}
.menu__link {
  font-weight: 700;
  transition: all 0.4s ease 0s;
}
._active > .menu__link {
  color: #0056fe;
}
@media (any-hover: hover) {
  .menu__link:hover {
    color: #0056fe;
  }
}
.menu__btn {
  padding-left: 30px;
  padding-right: 30px;
  text-wrap: nowrap;
}

.drop-down__body {
  background-color: #d5dde5;
  border-radius: 40px;
  position: fixed;
  max-width: 1490px;
  left: 15px;
  right: 15px;
  top: 100px;
  z-index: 100;
  margin: 0 auto;
  transition: all 0.3s ease 0s;
  padding: 2.5rem;
  opacity: 0;
  visibility: hidden;
  display: flex;
  column-gap: 20px;
  font-size: 1rem;
  pointer-events: none;
  transform: translate(0px, -20px);
  box-shadow: 1px 3px 11px 0px #202021;
}
._active > .drop-down__body {
  transform: translate(0px, 0px);
  pointer-events: all;
  opacity: 1;
  visibility: visible;
}
.drop-down__item {
  flex: 0 1 25%;
  border-radius: 20px;
  padding: 1.25rem;
  background-color: #fff;
  transition: all 0.4s ease 0s;
}
@media (any-hover: hover) {
  .drop-down__item:hover {
    background-color: #dae9f7;
  }
}
.drop-down__title {
  line-height: 120%;
  margin-bottom: 10px;
  font-weight: 700;
}
.drop-down__sub-title {
  line-height: 140%;
}

.menu__body_tablet {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  padding-top: 1.5625rem;
  z-index: 100;
  left: -450%;
  margin-top: 5rem;
  background-color: #fff;
  transition: all 0.3s ease 0s;
}
.menu-open .menu__body_tablet {
  left: 0px;
}
@media (max-width: 63.99875em) {
  .menu__body_tablet {
    margin-top: 5.5625rem;
  }
}

.tablet-menu-burger {
  height: 100%;
  padding-left: 15px;
}
.tablet-menu-burger__wrapper {
  height: 100%;
  overflow: auto;
}
.tablet-menu-burger__list {
  margin-bottom: 40px;
}
.tablet-menu-burger__item:not(:last-child) {
  margin-bottom: 15px;
}
.tablet-menu-burger__titel {
  font-size: 18px;
  background: linear-gradient(135deg, #39c7ec 3%, #0050ec 15%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-weight: 700;
  padding-bottom: 20px;
}
@media (max-width: 23.43625em) {
  .tablet-menu-burger__titel {
    font-size: 0.875rem;
  }
}
.tablet-menu-burger__link {
  display: inline-block;
  font-size: 1.25rem;
  line-height: 120%;
  font-weight: 700;
}
.tablet-menu-burger__item-menu {
  display: grid;
}
.tablet-menu-burger__item-menu a {
  font-size: 1.125rem;
  font-weight: 700;
}
.tablet-menu-burger__item-menu a:not(:last-child) {
  margin-bottom: 20px;
}
.tablet-menu-burger__sub-menu {
  display: flex;
  column-gap: 30px;
  margin-bottom: 40px;
}
.tablet-menu-burger__btn {
  font-size: 1rem;
  margin-bottom: 10px;
  padding: 0.8125rem 1.375rem;
}
@media (max-width: 23.43625em) {
  .tablet-menu-burger__btn {
    font-size: 0.875rem;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 63.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 43px;
    height: 43px;
    cursor: pointer;
    z-index: 5;
    animation-name: close-icon;
    background: url("../img/icons/burger-icon.svg") center/100% no-repeat;
    animation-duration: 700ms;
  }
  .menu-open .icon-menu {
    animation-name: open-icon;
    background: url("../img/icons/close-burger-icon.svg") center/25px 23px no-repeat;
    animation-duration: 500ms;
  }
}

@keyframes open-icon {
  from {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
@keyframes close-icon {
  from {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
._header-scroll {
  position: fixed;
  top: -100px;
  background-color: #fff;
  width: 100%;
  z-index: 1000;
  border-radius: 0px 0 20px 20px;
  transition: top 0.3s ease 0s;
}

._header-show {
  top: 0;
}

._header-scroll + .page {
  padding-top: 100px;
}

.menu-open ._header-scroll {
  border-radius: 0;
}

.footer {
  background-color: #0056fe;
  padding-top: 6.25rem;
  color: #fff;
}
@media (max-width: 47.99875em) {
  .footer {
    padding-top: 3.9375rem;
  }
}
.footer__top {
  display: flex;
  align-items: flex-start;
  column-gap: 6.7%;
  margin-bottom: 14.6875rem;
}
@media (max-width: 85.37375em) {
  .footer__top {
    column-gap: 53px;
  }
}
@media (max-width: 63.99875em) {
  .footer__top {
    margin-bottom: 8.75rem;
  }
}
@media (max-width: 47.99875em) {
  .footer__top {
    flex-direction: column;
    row-gap: 2.375rem;
  }
}
.footer__nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 63.99875em) {
  .footer__nav {
    flex-wrap: wrap;
    row-gap: 1.875rem;
  }
}
@media (max-width: 47.99875em) {
  .footer__nav {
    flex-direction: column;
  }
}
.footer__item-one {
  display: grid;
  padding-right: 1.25rem;
  justify-items: start;
}
@media (max-width: 63.99875em) {
  .footer__item-one {
    padding-right: 0;
  }
}
@media (max-width: 47.99875em) {
  .footer__item-one {
    margin-bottom: 2.6875rem;
  }
}
.footer__titel-one {
  font-size: 1.625rem;
  font-weight: 700;
  margin-bottom: 1.4375rem;
}
@media (max-width: 47.99875em) {
  .footer__titel-one {
    font-size: 1rem;
    line-height: 120%;
  }
}
.footer__link-one {
  font-size: 1.125rem;
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 1px;
  transition: background-size 0.3s;
  padding-bottom: 1px;
}
@media (any-hover: hover) {
  .footer__link-one:hover {
    background-size: 100% 2px;
  }
}
@media (max-width: 85.37375em) {
  .footer__link-one {
    font-size: 1rem;
  }
}
.footer__link-one:not(:last-child) {
  margin-bottom: 1.4375rem;
}
@media (max-width: 47.99875em) {
  .footer__link-one {
    font-size: 0.875rem;
    line-height: 140%;
  }
  .footer__link-one:not(:last-child) {
    margin-bottom: 0.9375rem;
  }
}
.footer__item-two {
  display: flex;
  column-gap: 103px;
  padding-right: 20px;
}
@media (max-width: 85.37375em) {
  .footer__item-two {
    column-gap: 53px;
  }
}
@media (max-width: 63.99875em) {
  .footer__item-two {
    padding-right: 0;
    column-gap: 30px;
  }
}
@media (max-width: 47.99875em) {
  .footer__item-two {
    font-size: 1rem;
    line-height: 120%;
    column-gap: 90px;
    margin-bottom: 3.0625rem;
  }
}
.footer__list-two {
  font-size: 1.625rem;
}
.footer__list-two li {
  font-weight: 700;
  text-wrap: nowrap;
}
.footer__list-two li:not(:last-child) {
  margin-bottom: 1.875rem;
}
@media (max-width: 85.37375em) {
  .footer__list-two li {
    font-size: 1.375rem;
  }
}
@media (max-width: 63.99875em) {
  .footer__list-two li {
    font-size: 1.125rem;
  }
}
@media (max-width: 47.99875em) {
  .footer__list-two li {
    font-size: 1rem;
    line-height: 120%;
  }
  .footer__list-two li:not(:last-child) {
    margin-bottom: 20px;
  }
}
.footer__list-two li a {
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
}
@media (any-hover: hover) {
  .footer__list-two li a:hover {
    background-size: 100% 2px;
  }
}
.footer__item-three {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer__item-three a {
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
  padding-bottom: 2px;
  text-wrap: nowrap;
  font-size: 1.25pxrem;
}
@media (any-hover: hover) {
  .footer__item-three a:hover {
    background-size: 100% 2px;
  }
}
.footer__item-three a:first-child {
  font-size: 1.875rem;
  font-weight: 700;
  margin-bottom: 1.4375rem;
}
@media (max-width: 85.37375em) {
  .footer__item-three a:first-child {
    font-size: 1.625rem;
  }
}
@media (max-width: 47.99875em) {
  .footer__item-three a:first-child {
    font-size: 1.125rem;
    line-height: 120%;
  }
}
.footer__item-three a:not(:last-child) {
  margin-bottom: 0.9375rem;
}
@media (max-width: 85.37375em) {
  .footer__item-three a {
    font-size: 1.125rem;
    line-height: 120%;
  }
  .footer__item-three a:not(:last-child) {
    margin-bottom: 1.6875rem;
  }
}
@media (max-width: 47.99875em) {
  .footer__item-three a {
    font-size: 1rem;
    line-height: 140%;
  }
  .footer__item-three a:not(:last-child) {
    margin-bottom: 0.625rem;
  }
}
.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-top: 1px solid #fff;
  padding: 1.875rem 0 2.5625rem;
  font-size: 0.875rem;
}
@media (max-width: 47.99875em) {
  .footer__bottom {
    flex-direction: column;
    row-gap: 0.9375rem;
    padding: 3.0625rem 0 2.0625rem;
    align-items: flex-start;
  }
}
@media (any-hover: hover) {
  .footer__bottom a:hover {
    text-decoration: underline;
  }
}
.footer__name-creart {
  position: absolute;
  display: flex;
  align-items: center;
  right: 0;
  column-gap: 7px;
}
.footer__name-creart span {
  margin-top: 3px;
}
.footer__name-creart img {
  width: 2.8125rem;
  height: 1.0625rem;
}
@media (max-width: 47.99875em) {
  .footer__name-creart {
    position: static;
  }
}

.main-slider {
  padding-top: 1.25rem;
}
.main-slider__container {
  padding: 0 0.9375rem;
}
.main-slider__slider {
  position: relative;
}
.main-slider__slide {
  display: flex;
  pointer-events: none;
}
@media (max-width: 63.99875em) {
  .main-slider__slide {
    flex-direction: column;
    text-align: center;
    padding: 2.5rem 0.9375rem 0;
  }
}
.main-slider__slide.swiper-slide-active {
  pointer-events: all;
}
.main-slider__left {
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.625rem 0;
  padding-left: 5rem;
}
@media (max-width: 63.99875em) {
  .main-slider__left {
    padding: 0;
  }
}
.main-slider__title {
  margin-bottom: 1.25rem;
}
@media (max-width: 85.37375em) {
  .main-slider__title {
    margin-bottom: 0.625rem;
  }
}
@media (max-width: 63.99875em) {
  .main-slider__title {
    margin-bottom: 0.9375rem;
  }
}
.main-slider__sub-title {
  font-size: 1.875rem;
  line-height: 120%;
  margin-bottom: 3.125rem;
}
@media (min-width: 89.99875em) {
  .main-slider__sub-title {
    font-size: 1.875rem;
  }
}
@media (min-width: 80em) and (max-width: 89.99875em) {
  .main-slider__sub-title {
    font-size: clamp( 1.25rem , -3.7506250781rem  +  6.2507813477vw , 1.875rem );
  }
}
@media (max-width: 80em) {
  .main-slider__sub-title {
    font-size: 1.25rem;
  }
}
@media (max-width: 85.37375em) {
  .main-slider__sub-title {
    margin-bottom: 1.5625rem;
  }
}
@media (max-width: 63.99875em) {
  .main-slider__sub-title {
    font-size: 1rem;
    margin-bottom: 1.25rem;
  }
}
@media (max-width: 29.99875em) {
  .main-slider__sub-title {
    font-size: 0.875rem;
  }
}
.main-slider__btn {
  align-self: flex-start;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  margin-bottom: 60px;
}
@media (max-width: 63.99875em) {
  .main-slider__btn {
    align-self: center;
    padding: 0.8125rem 1.375rem;
    margin-bottom: 2.375rem;
  }
}
@media (max-width: 29.99875em) {
  .main-slider__btn {
    font-size: 0.875rem;
  }
}
.main-slider__right {
  align-self: flex-end;
  padding-top: 1.875rem;
  flex: 0 1 50%;
  transform: translate(15px, 0px);
}
.main-slider__right img {
  max-width: 100%;
}
@media (max-width: 63.99875em) {
  .main-slider__right {
    padding: 0;
  }
}
.main-slider__nav {
  position: absolute;
  bottom: 60px;
  left: 80px;
}
@media (max-width: 63.99875em) {
  .main-slider__nav {
    top: 220px;
    left: 50%;
    transform: translate(-50%, 0px);
  }
}
@media (max-width: 47.99875em) {
  .main-slider__nav {
    top: 210px;
  }
}
.main-slider__wrapper-nav-btn {
  width: 10.6875rem;
  height: 5.0625rem;
}
@media (max-width: 63.99875em) {
  .main-slider__wrapper-nav-btn {
    height: 2.5625rem;
  }
}

.name-products-sl__container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 85.37375em) {
  .name-products-sl__container {
    flex-direction: column;
  }
}
.name-products-sl__title {
  max-width: 33.9375rem;
}
@media (min-width: 95em) {
  .name-products-sl__title {
    margin-right: 1.875rem;
  }
}
@media (min-width: 20em) and (max-width: 95em) {
  .name-products-sl__title {
    margin-right: clamp( 1.875rem , 1.875rem  +  0vw , 1.875rem );
  }
}
@media (max-width: 20em) {
  .name-products-sl__title {
    margin-right: 1.875rem;
  }
}
@media (max-width: 85.37375em) {
  .name-products-sl__title {
    max-width: 100%;
    margin: 0;
    margin-bottom: 2.5rem;
  }
}
.name-products-sl__wrapper {
  max-width: 54.8125rem;
  padding: 3.75rem;
}
@media (max-width: 85.37375em) {
  .name-products-sl__wrapper {
    max-width: 100%;
  }
}
@media (max-width: 63.99875em) {
  .name-products-sl__wrapper {
    padding: 2.5rem;
  }
}
@media (max-width: 47.99875em) {
  .name-products-sl__wrapper {
    padding: 2.5rem 0.9375rem 2rem;
  }
}
.name-products-sl__slider {
  overflow: visible !important;
}
.name-products-sl__swiper {
  margin-bottom: 3.5rem;
}
@media (max-width: 63.99875em) {
  .name-products-sl__swiper {
    margin-bottom: 2.25rem;
  }
}
@media (max-width: 47.99875em) {
  .name-products-sl__swiper {
    margin-bottom: 3.5rem;
  }
}
.name-products-sl__slide {
  display: flex;
  align-items: center;
  padding-bottom: 0;
}
@media (max-width: 47.99875em) {
  .name-products-sl__slide {
    flex-direction: column;
    row-gap: 1.25rem;
    text-align: center;
  }
}
.name-products-sl__img img {
  max-width: 20.0625rem;
}
@media (max-width: 63.99875em) {
  .name-products-sl__img img {
    max-width: 100%;
  }
}
@media (max-width: 47.99875em) {
  .name-products-sl__img img {
    max-width: 14.375rem;
  }
}
.name-products-sl__text {
  font-size: 1.625rem;
  line-height: 140%;
}
@media (max-width: 63.99875em) {
  .name-products-sl__text {
    font-size: 1.25rem;
  }
}
@media (max-width: 47.99875em) {
  .name-products-sl__nav {
    display: none;
  }
}
.name-products-sl__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 47.99875em) {
  .name-products-sl__bottom {
    justify-content: center;
  }
}
.name-products-sl__pagging {
  display: flex;
}
.name-products-sl__pagging span {
  cursor: pointer;
  width: 0.875rem;
  height: 0.875rem;
  background-color: #fafbfc;
  border-radius: 50%;
}
.name-products-sl__pagging span:not(:last-child) {
  margin-right: 1.3125rem;
}
.name-products-sl__pagging span.swiper-pagination-bullet-active {
  position: relative;
}
.name-products-sl__pagging span.swiper-pagination-bullet-active::before {
  content: "";
  background: url("../img/icons/actv-bullet-slider.webp") top 0 left 0px/7px 12px no-repeat;
  position: absolute;
  width: 7px;
  height: 12px;
  top: 0px;
  left: 7px;
}

@media (max-width: 63.99875em) {
  .advantages {
    display: none;
  }
}
.advantages__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
}
@media (max-width: 85.37375em) {
  .advantages__container {
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
  }
}
.advantages__item {
  padding: 1.875rem;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.advantages__icon {
  width: 4rem;
  height: 4rem;
  margin-bottom: 1.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eff1f7;
  box-shadow: -1px -1px 4px rgba(255, 255, 255, 0.8), -7px -7px 14px #ffffff, 2px 2px 3px rgba(210, 218, 227, 0.3), 3px 3px 17px rgba(210, 218, 227, 0.8);
  border-radius: 8px;
}
.advantages__icon img {
  width: 2.875rem;
  height: 2.875rem;
}
.advantages__text {
  font-size: 1.625rem;
  line-height: 140%;
  font-weight: 700;
}

.get-free {
  padding-bottom: 8.75rem;
}
@media (max-width: 63.99875em) {
  .get-free {
    padding-bottom: 3.75rem;
  }
}
.get-free__wrapper {
  background: linear-gradient(112.17deg, #39c7ec 3.35%, #39c7ec 3.36%, #0050ec 97.39%);
  border-radius: 40px;
  color: #fff;
  padding: 3.75rem 5rem 3.8125rem 4.5625rem;
  display: flex;
  align-items: center;
  column-gap: 8rem;
}
@media (min-width: 85.37375em) {
  .get-free__wrapper {
    column-gap: 8rem;
  }
}
@media (min-width: 63.99875em) and (max-width: 85.37375em) {
  .get-free__wrapper {
    column-gap: clamp( 3.75rem , -8.9748976608rem  +  19.8830409357vw , 8rem );
  }
}
@media (max-width: 63.99875em) {
  .get-free__wrapper {
    column-gap: 3.75rem;
  }
}
@media (max-width: 63.99875em) {
  .get-free__wrapper {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1.875rem;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
  }
}
@media (max-width: 47.99875em) {
  .get-free__wrapper {
    row-gap: 1.25rem;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
  }
}
.get-free__title {
  margin-bottom: 1.25rem;
  font-weight: 700;
}
@media (min-width: 85.37375em) {
  .get-free__title {
    font-size: 2.5rem;
  }
}
@media (min-width: 63.99875em) and (max-width: 85.37375em) {
  .get-free__title {
    font-size: clamp( 1.875rem , 0.0036915205rem  +  2.9239766082vw , 2.5rem );
  }
}
@media (max-width: 63.99875em) {
  .get-free__title {
    font-size: 1.875rem;
  }
}
@media (max-width: 63.99875em) and (min-width: 63.99875em) {
  .get-free__title {
    font-size: 1.875rem;
  }
}
@media (max-width: 63.99875em) and (min-width: 47.99875em) and (max-width: 63.99875em) {
  .get-free__title {
    font-size: clamp( 1.375rem , -0.1249609375rem  +  3.125vw , 1.875rem );
  }
}
@media (max-width: 63.99875em) and (max-width: 47.99875em) {
  .get-free__title {
    font-size: 1.375rem;
  }
}
.get-free__sub-title {
  line-height: 140%;
}
@media (max-width: 47.99875em) {
  .get-free__sub-title {
    font-size: 0.875rem;
  }
}
.get-free__link {
  padding-left: 3.3125rem;
  padding-right: 3.3125rem;
}
@media (max-width: 47.99875em) {
  .get-free__link {
    padding-left: 0.8125rem;
    padding-right: 0.8125rem;
  }
}

.ecom__wrapper {
  display: flex;
  padding: 5rem;
}
@media (min-width: 90em) {
  .ecom__wrapper {
    padding: 5rem;
  }
}
@media (min-width: 47.99875em) and (max-width: 90em) {
  .ecom__wrapper {
    padding: clamp( 2.5rem , -0.3569834231rem  +  5.9522038035vw , 5rem );
  }
}
@media (max-width: 47.99875em) {
  .ecom__wrapper {
    padding: 2.5rem;
  }
}
@media (max-width: 85.37375em) {
  .ecom__wrapper {
    flex-direction: column;
    row-gap: 2.5rem;
  }
}
@media (max-width: 63.99875em) {
  .ecom__wrapper {
    row-gap: 1.875rem;
  }
}
@media (max-width: 47.99875em) {
  .ecom__wrapper {
    padding: 2.5rem 1.875rem 3.75rem;
  }
}
.ecom__left {
  max-width: 30.5625rem;
  margin-right: 4.5625rem;
}
@media (min-width: 90em) {
  .ecom__left {
    margin-right: 4.5625rem;
  }
}
@media (min-width: 85.37375em) and (max-width: 90em) {
  .ecom__left {
    margin-right: clamp( 1.875rem , -47.7206667117rem  +  58.0924074574vw , 4.5625rem );
  }
}
@media (max-width: 85.37375em) {
  .ecom__left {
    margin-right: 1.875rem;
  }
}
@media (max-width: 85.37375em) {
  .ecom__left {
    margin-right: 0;
    max-width: 100%;
  }
}
@media (max-width: 63.99875em) {
  .ecom__left {
    text-align: center;
  }
}
.ecom__title {
  margin-bottom: 1.25rem;
}
.ecom__sub-title {
  font-size: 1.875rem;
  line-height: 140%;
}
@media (min-width: 90em) {
  .ecom__sub-title {
    font-size: 1.875rem;
  }
}
@media (min-width: 47.99875em) and (max-width: 90em) {
  .ecom__sub-title {
    font-size: clamp( 1rem , 0.0000558019rem  +  2.0832713312vw , 1.875rem );
  }
}
@media (max-width: 47.99875em) {
  .ecom__sub-title {
    font-size: 1rem;
  }
}
.ecom__right {
  display: grid;
  justify-items: start;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1.25rem;
}
@media (max-width: 85.37375em) {
  .ecom__right {
    gap: 1.875rem;
  }
}
@media (max-width: 47.99875em) {
  .ecom__right {
    grid-template-columns: 1fr;
  }
}
.ecom__item {
  width: 100%;
  background: #eff1f7;
  box-shadow: -20px -20px 34px rgba(255, 255, 255, 0.8), -5px -5px 10px #ffffff, 5px 5px 13px rgba(210, 218, 227, 0.3), 15px 10px 30px rgba(210, 218, 227, 0.7), inset 0px 0px 0px 0px, inset 0px 0px 0px 0px;
  border-radius: 40px;
  padding: 1.875rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}
@media (any-hover: hover) {
  .ecom__item:hover {
    animation-name: example;
    animation-duration: 0.3s;
    background: #eff1f7;
    box-shadow: 0px 0px 0px 0px, 0px 0px 0px 0px, 0px 0px 0px 0px, 0px 0px 0px 0px, inset -3px -4px 7px #ffffff, inset 3px 3px 7px rgba(136, 165, 191, 0.56);
  }
}
@keyframes example {
  0% {
    box-shadow: -20px -20px 34px rgba(255, 255, 255, 0.8), -5px -5px 10px #ffffff, 5px 5px 13px rgb(255, 255, 255), 15px 10px 10px rgba(255, 255, 255, 0.7), inset 0px 0px 0px 0px #fff, inset 0px 0px 0px 0px #fff;
  }
  50% {
    box-shadow: 0px 0px 0px #fff, 0px 0px 0px #ffffff, 0px 0px 0px #fff, 0px 0px 0px #fff, inset 1px 1px 1px #ffffff, inset 1px 1px 1px #fff;
  }
  100% {
    box-shadow: 0px 0px 0px 0px, 0px 0px 0px 0px, 0px 0px 0px 0px, 0px 0px 0px 0px, inset -2px -3px 3px #ffffff, inset 0px 0px 0px rgba(136, 165, 191, 0.56);
  }
}
@media (max-width: 47.99875em) {
  .ecom__item {
    padding: 1.25rem;
  }
}
.ecom__img {
  margin-bottom: 1.6875rem;
}
.ecom__img img {
  width: 120px;
  height: 120px;
}
@media (max-width: 63.99875em) {
  .ecom__img {
    margin-bottom: 10px;
  }
  .ecom__img img {
    width: 4rem;
    height: 4rem;
  }
}
.ecom__titel {
  margin-bottom: 1.25rem;
}
@media (max-width: 63.99875em) {
  .ecom__titel {
    font-size: 1.125rem;
    line-height: 120%;
    margin-bottom: 0.625rem;
  }
}
@media (max-width: 63.99875em) {
  .ecom__text {
    font-size: 1rem;
    line-height: 120%;
  }
}
@media (max-width: 47.99875em) {
  .ecom__text {
    line-height: 140%;
    font-size: 0.875rem;
  }
}

.play-project {
  background-color: #eff1f7;
  padding-top: 7.5rem;
  padding-bottom: 6.25rem;
}
@media (max-width: 63.99875em) {
  .play-project {
    padding-bottom: 3.75rem;
    padding-top: 3.75rem;
  }
}
.play-project__title {
  margin-bottom: 3.8125rem;
}
@media (max-width: 63.99875em) {
  .play-project__title {
    margin-bottom: 1.875rem;
  }
}
.play-project__items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1f 1fr;
  margin-bottom: 5.625rem;
  column-gap: 3.75rem;
  row-gap: 5.3125rem;
}
@media (min-width: 85.37375em) {
  .play-project__items {
    column-gap: 3.75rem;
  }
}
@media (min-width: 63.99875em) and (max-width: 85.37375em) {
  .play-project__items {
    column-gap: clamp( 2.5rem , -1.2426169591rem  +  5.8479532164vw , 3.75rem );
  }
}
@media (max-width: 63.99875em) {
  .play-project__items {
    column-gap: 2.5rem;
  }
}
@media (min-width: 85.37375em) {
  .play-project__items {
    row-gap: 5.3125rem;
  }
}
@media (min-width: 63.99875em) and (max-width: 85.37375em) {
  .play-project__items {
    row-gap: clamp( 4.0625rem , 0.3198830409rem  +  5.8479532164vw , 5.3125rem );
  }
}
@media (max-width: 63.99875em) {
  .play-project__items {
    row-gap: 4.0625rem;
  }
}
@media (max-width: 63.99875em) {
  .play-project__items {
    margin-bottom: 3.125rem;
  }
}
@media (max-width: 63.99875em) and (min-width: 63.99875em) {
  .play-project__items {
    column-gap: 2.5rem;
  }
}
@media (max-width: 63.99875em) and (min-width: 47.99875em) and (max-width: 63.99875em) {
  .play-project__items {
    column-gap: clamp( 1.25rem , -2.4999023438rem  +  7.8125vw , 2.5rem );
  }
}
@media (max-width: 63.99875em) and (max-width: 47.99875em) {
  .play-project__items {
    column-gap: 1.25rem;
  }
}
@media (max-width: 63.99875em) and (min-width: 63.99875em) {
  .play-project__items {
    row-gap: 4.0625rem;
  }
}
@media (max-width: 63.99875em) and (min-width: 47.99875em) and (max-width: 63.99875em) {
  .play-project__items {
    row-gap: clamp( 1.875rem , -4.6873291016rem  +  13.671875vw , 4.0625rem );
  }
}
@media (max-width: 63.99875em) and (max-width: 47.99875em) {
  .play-project__items {
    row-gap: 1.875rem;
  }
}
@media (max-width: 47.99875em) {
  .play-project__items {
    grid-template-columns: 1fr;
  }
}
.play-project__item {
  display: flex;
  align-items: flex-start;
}
@media (min-width: 85.37375em) {
  .play-project__icon {
    margin-right: 2.4375rem;
  }
}
@media (min-width: 63.99875em) and (max-width: 85.37375em) {
  .play-project__icon {
    margin-right: clamp( 1.8125rem , -0.0588084795rem  +  2.9239766082vw , 2.4375rem );
  }
}
@media (max-width: 63.99875em) {
  .play-project__icon {
    margin-right: 1.8125rem;
  }
}
@media (max-width: 63.99875em) and (min-width: 63.99875em) {
  .play-project__icon {
    margin-right: 1.8125rem;
  }
}
@media (max-width: 63.99875em) and (min-width: 47.99875em) and (max-width: 63.99875em) {
  .play-project__icon {
    margin-right: clamp( 1.25rem , -0.4374560547rem  +  3.515625vw , 1.8125rem );
  }
}
@media (max-width: 63.99875em) and (max-width: 47.99875em) {
  .play-project__icon {
    margin-right: 1.25rem;
  }
}
.play-project__small-title {
  margin-bottom: 1.25rem;
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 130%;
}
@media (max-width: 85.37375em) and (min-width: 85.37375em) {
  .play-project__small-title {
    font-size: 1.875rem;
  }
}
@media (max-width: 85.37375em) and (min-width: 63.99875em) and (max-width: 85.37375em) {
  .play-project__small-title {
    font-size: clamp( 1.5rem , 0.3772149123rem  +  1.7543859649vw , 1.875rem );
  }
}
@media (max-width: 85.37375em) and (max-width: 63.99875em) {
  .play-project__small-title {
    font-size: 1.5rem;
  }
}
@media (max-width: 63.99875em) {
  .play-project__small-title {
    margin-bottom: 0.9375rem;
  }
}
@media (max-width: 63.99875em) and (min-width: 63.99875em) {
  .play-project__small-title {
    font-size: 1.5rem;
  }
}
@media (max-width: 63.99875em) and (min-width: 47.99875em) and (max-width: 63.99875em) {
  .play-project__small-title {
    font-size: clamp( 1.25rem , 0.5000195313rem  +  1.5625vw , 1.5rem );
  }
}
@media (max-width: 63.99875em) and (max-width: 47.99875em) {
  .play-project__small-title {
    font-size: 1.25rem;
  }
}
.play-project__text {
  line-height: 140%;
}
@media (max-width: 63.99875em) and (min-width: 63.99875em) {
  .play-project__text {
    font-size: 1.125rem;
  }
}
@media (max-width: 63.99875em) and (min-width: 47.99875em) and (max-width: 63.99875em) {
  .play-project__text {
    font-size: clamp( 0.875rem , 0.1250195312rem  +  1.5625vw , 1.125rem );
  }
}
@media (max-width: 63.99875em) and (max-width: 47.99875em) {
  .play-project__text {
    font-size: 0.875rem;
  }
}
.play-project__btn {
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  margin-bottom: 6.25rem;
}
@media (max-width: 63.99875em) {
  .play-project__btn {
    margin-bottom: 3.125rem;
  }
}
@media (max-width: 47.99875em) {
  .play-project__btn {
    padding-left: 1.375rem;
    padding-right: 1.375rem;
  }
}
.what-tasks__wrapper {
  box-shadow: -20px -20px 34px rgba(255, 255, 255, 0.8), -5px -5px 10px #ffffff, 5px 5px 13px rgba(210, 218, 227, 0.3), 15px 10px 30px rgba(210, 218, 227, 0.7);
  border-radius: 20px;
}
@media (min-width: 90em) {
  .what-tasks__wrapper {
    padding: 5rem;
  }
}
@media (min-width: 63.99875em) and (max-width: 90em) {
  .what-tasks__wrapper {
    padding: clamp( 2.5rem , -3.6534301236rem  +  9.6149223595vw , 5rem );
  }
}
@media (max-width: 63.99875em) {
  .what-tasks__wrapper {
    padding: 2.5rem;
  }
}
@media (max-width: 90em) {
  .what-tasks__wrapper {
    box-shadow: none;
    overflow-x: auto;
  }
}
@media (max-width: 63.99875em) and (min-width: 63.9375em) {
  .what-tasks__wrapper {
    padding: 2.5rem;
  }
}
@media (max-width: 63.99875em) and (min-width: 47.99875em) and (max-width: 63.9375em) {
  .what-tasks__wrapper {
    padding: clamp( 0.9375rem , -3.7678907537rem  +  9.8031526939vw , 2.5rem );
  }
}
@media (max-width: 63.99875em) and (max-width: 47.99875em) {
  .what-tasks__wrapper {
    padding: 0.9375rem;
  }
}
@media (max-width: 90em) {
  .what-tasks__container {
    padding: 0;
  }
}
.what-tasks__title {
  margin-bottom: 3.75rem;
}
@media (max-width: 63.99875em) {
  .what-tasks__title {
    margin-bottom: 1.875rem;
  }
}
.what-tasks__items {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1.875rem;
  padding-bottom: 1.25rem;
}
@media (min-width: 96.875em) {
  .what-tasks__items {
    row-gap: 1.875rem;
  }
}
@media (min-width: 90em) and (max-width: 96.875em) {
  .what-tasks__items {
    row-gap: clamp( 1.5625rem , -2.5284090909rem  +  4.5454545455vw , 1.875rem );
  }
}
@media (max-width: 90em) {
  .what-tasks__items {
    row-gap: 1.5625rem;
  }
}
@media (max-width: 63.99875em) and (min-width: 63.99875em) {
  .what-tasks__items {
    row-gap: 1.5625rem;
  }
}
@media (max-width: 63.99875em) and (min-width: 47.99875em) and (max-width: 63.99875em) {
  .what-tasks__items {
    row-gap: clamp( 0.9375rem , -0.9374511719rem  +  3.90625vw , 1.5625rem );
  }
}
@media (max-width: 63.99875em) and (max-width: 47.99875em) {
  .what-tasks__items {
    row-gap: 0.9375rem;
  }
}
.what-tasks__wrpaper-item {
  display: flex;
}
@media (min-width: 96.875em) {
  .what-tasks__wrpaper-item {
    column-gap: 1.875rem;
  }
}
@media (min-width: 90em) and (max-width: 96.875em) {
  .what-tasks__wrpaper-item {
    column-gap: clamp( 1.5625rem , -2.5284090909rem  +  4.5454545455vw , 1.875rem );
  }
}
@media (max-width: 90em) {
  .what-tasks__wrpaper-item {
    column-gap: 1.5625rem;
  }
}
@media (max-width: 63.99875em) {
  .what-tasks__wrpaper-item {
    padding-right: 15px;
  }
}
@media (max-width: 63.99875em) and (min-width: 63.99875em) {
  .what-tasks__wrpaper-item {
    column-gap: 1.5625rem;
  }
}
@media (max-width: 63.99875em) and (min-width: 47.99875em) and (max-width: 63.99875em) {
  .what-tasks__wrpaper-item {
    column-gap: clamp( 0.9375rem , -0.9374511719rem  +  3.90625vw , 1.5625rem );
  }
}
@media (max-width: 63.99875em) and (max-width: 47.99875em) {
  .what-tasks__wrpaper-item {
    column-gap: 0.9375rem;
  }
}
.what-tasks__item {
  font-size: 1rem;
  font-weight: 700;
  text-wrap: nowrap;
  border-radius: 10px;
  padding: 1.25rem 1.875rem;
  box-shadow: -10px -10px 34px rgba(255, 255, 255, 0.8), -5px -5px 10px #ffffff, 5px 5px 13px rgba(210, 218, 227, 0.3), 7px 7px 30px rgba(210, 218, 227, 0.6);
}
@media (any-hover: hover) {
  .what-tasks__item:hover {
    box-shadow: inset -3px -4px 6px #ffffff, inset -2px -3px 6px rgba(136, 165, 191, 0.3), inset 2px 2px 12px rgba(136, 165, 191, 0.6);
  }
}
@media (any-hover: hover) {
  .what-tasks__item:hover {
    animation-name: example;
    animation-duration: 0.3s;
    background: #eff1f7;
    box-shadow: 0px 0px 0px #fff, 0px 0px 0px #ffffff, 0px 0px 0px #fff, 0px 0px 0px #fff, inset -3px -4px 6px #ffffff, inset -2px -3px 6px rgba(136, 165, 191, 0.3), inset 2px 2px 12px rgba(136, 165, 191, 0.6);
  }
}
@keyframes example {
  0% {
    box-shadow: -20px -20px 34px rgba(255, 255, 255, 0.8), -5px -5px 10px #ffffff, 5px 5px 13px rgb(255, 255, 255), 15px 10px 10px rgba(255, 255, 255, 0.7), inset 0px 0px 0px 0px #fff, inset 0px 0px 0px 0px #fff;
  }
  50% {
    box-shadow: 0px 0px 0px #fff, 0px 0px 0px #ffffff, 0px 0px 0px #fff, 0px 0px 0px #fff, inset 1px 1px 1px #ffffff, inset 1px 1px 1px #fff;
  }
  100% {
    box-shadow: 0px 0px 0px 0px, 0px 0px 0px 0px, 0px 0px 0px 0px, 0px 0px 0px 0px, inset -3px -4px 6px #ffffff, inset -2px -3px 6px rgba(136, 165, 191, 0.3), inset 2px 2px 12px rgba(136, 165, 191, 0.6);
  }
}
@media (max-width: 63.99875em) {
  .what-tasks__item {
    padding: 0.8125rem 1.375rem;
  }
}

.why-us {
  padding-top: 9.375rem;
}
@media (max-width: 63.99875em) {
  .why-us {
    padding-top: 3.75rem;
  }
}
@media (max-width: 63.99875em) {
  .why-us__container {
    padding-left: 0.9375rem !important;
  }
}
.why-us__title {
  margin-bottom: 3.75rem;
}
@media (max-width: 63.99875em) {
  .why-us__title {
    margin-bottom: 1.875rem;
  }
}
.why-us__navigation {
  display: flex;
  column-gap: 1.875rem;
  margin-bottom: 3.125rem;
}
@media (max-width: 63.99875em) {
  .why-us__navigation {
    margin-bottom: 1.5625rem;
    width: 100%;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding-bottom: 0.625rem;
    padding-right: 15px;
  }
}
.why-us__btn-tab {
  flex: 0 0 auto;
  text-wrap: nowrap;
  font-weight: 700;
  line-height: 100%;
  padding-bottom: 0.625rem;
  opacity: 0.4;
  transition: all 0.3s ease 0s;
  position: relative;
}
.why-us__btn-tab._tab-active {
  opacity: 1;
  color: #0056fe;
}
.why-us__btn-tab._tab-active::after {
  content: "";
  position: absolute;
  width: 100%;
  background-color: #0056fe;
  height: 0.125rem;
  bottom: 0;
  left: 0;
  visibility: visible;
  opacity: 1;
}
.why-us__btn-tab::after {
  visibility: hidden;
  opacity: 0;
}
@media (max-width: 63.99875em) {
  .why-us__slider {
    padding-right: 15px;
  }
}
.why-us__swiper {
  display: grid !important;
  gap: 1.25rem;
  grid-template-rows: 1fr 1fr;
  grid-auto-flow: column;
}
@media (max-width: 63.99875em) {
  .why-us__swiper {
    display: flex !important;
    gap: 0;
  }
}
.slide-it {
  height: auto;
}
.slide-it__wrapper {
  height: 100%;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 85.37375em) {
  .slide-it__wrapper {
    padding: 2.5rem;
  }
}
@media (min-width: 47.99875em) and (max-width: 85.37375em) {
  .slide-it__wrapper {
    padding: clamp( 1.875rem , 1.0723453177rem  +  1.6722408027vw , 2.5rem );
  }
}
@media (max-width: 47.99875em) {
  .slide-it__wrapper {
    padding: 1.875rem;
  }
}
.slide-it__top {
  margin-bottom: 6.25rem;
}
@media (min-width: 85.37375em) {
  .slide-it__top {
    margin-bottom: 6.25rem;
  }
}
@media (min-width: 47.99875em) and (max-width: 85.37375em) {
  .slide-it__top {
    margin-bottom: clamp( 4.3125rem , 1.8242704849rem  +  5.1839464883vw , 6.25rem );
  }
}
@media (max-width: 47.99875em) {
  .slide-it__top {
    margin-bottom: 4.3125rem;
  }
}
.slide-it__title {
  margin-bottom: 1.25rem;
}
@media (max-width: 63.99875em) {
  .slide-it__title {
    margin-bottom: 0.9375rem;
  }
}
.slide-it__text {
  line-height: 140%;
}
@media (min-width: 63.99875em) {
  .slide-it__text {
    font-size: 1.125rem;
  }
}
@media (min-width: 47.99875em) and (max-width: 63.99875em) {
  .slide-it__text {
    font-size: clamp( 0.875rem , 0.1250195312rem  +  1.5625vw , 1.125rem );
  }
}
@media (max-width: 47.99875em) {
  .slide-it__text {
    font-size: 0.875rem;
  }
}
.slide-it__icon {
  align-self: flex-end;
}

.brand-slider {
  padding: 9.375rem 0;
  background-color: #eff1f7;
}
@media (max-width: 63.99875em) {
  .brand-slider {
    padding: 3.75rem 0;
  }
}
.brand-slider__title {
  margin-bottom: 1.875rem;
}
@media (max-width: 63.99875em) {
  .brand-slider__title {
    margin-bottom: 1.875rem;
  }
}
@media (max-width: 47.99875em) {
  .brand-slider__slide {
    display: flex;
  }
}
@media (max-width: 47.99875em) {
  .brand-slider__top, .brand-slider__bottom {
    flex-direction: column;
    margin-bottom: 0rem;
  }
}
.brand-slider__top {
  display: flex;
  margin-bottom: 1.25rem;
}
.brand-slider__bottom {
  display: flex;
  justify-content: center;
}
@media (max-width: 47.99875em) {
  .brand-slider__bottom {
    justify-content: stretch;
  }
}
@media (max-width: 47.99875em) {
  .brand-slider__img_hidden {
    display: none;
  }
}
.brand-slider__img_show {
  display: none;
}
@media (max-width: 47.99875em) {
  .brand-slider__img_show {
    display: flex;
  }
}
.brand-slider__img {
  flex: 0 1 365px;
  max-width: 22.8125rem;
  min-width: 9rem;
}
.brand-slider__img img {
  max-width: 100%;
}
@media (max-width: 47.99875em) {
  .brand-slider__img {
    flex: none;
  }
}
.brand-slider__pagging {
  display: flex;
  justify-content: center;
}
.brand-slider__pagging span {
  cursor: pointer;
  width: 0.875rem;
  height: 0.875rem;
  background-color: #fafbfc;
  border-radius: 50%;
}
.brand-slider__pagging span:not(:last-child) {
  margin-right: 1.3125rem;
}
.brand-slider__pagging span.swiper-pagination-bullet-active {
  position: relative;
}
.brand-slider__pagging span.swiper-pagination-bullet-active::before {
  content: "";
  background: url("../img/icons/actv-bullet-slider.webp") top 0 left 0px/7px 12px no-repeat;
  position: absolute;
  width: 7px;
  height: 12px;
  top: 0px;
  left: 7px;
}

.registry-member {
  background: #eff1f7;
}
.registry-member__wrapper {
  background: linear-gradient(112.17deg, #39c7ec 3.35%, #39c7ec 3.36%, #0050ec 97.39%);
  box-shadow: 0px 6px 35px -11px rgba(22, 52, 80, 0.12);
  border-radius: 30px;
  display: flex;
  align-items: center;
  color: #fff;
  position: relative;
}
@media (max-width: 47.99875em) {
  .registry-member__wrapper {
    flex-direction: column;
  }
}
.registry-member__info {
  padding-left: 5rem;
  max-width: 56.125rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
@media (max-width: 63.99875em) {
  .registry-member__info {
    padding-left: 2.5rem;
  }
}
@media (max-width: 47.99875em) {
  .registry-member__info {
    padding: 2.375rem 0.9375rem 3.6875rem;
    max-width: 100%;
    position: relative;
    z-index: 11;
  }
}
.registry-member__title {
  margin-bottom: 1.875rem;
  text-wrap: nowrap;
}
@media (max-width: 63.99875em) {
  .registry-member__title {
    margin-bottom: 1.25rem;
  }
}
@media (max-width: 63.99875em) {
  .registry-member__title {
    text-wrap: wrap;
  }
}
.registry-member__sub-title {
  line-height: 140%;
  margin-bottom: 2.5rem;
  line-height: 140%;
}
@media (min-width: 85.37375em) {
  .registry-member__sub-title {
    font-size: 1.875rem;
  }
}
@media (min-width: 47.99875em) and (max-width: 85.37375em) {
  .registry-member__sub-title {
    font-size: clamp( 1.125rem , 0.1618143813rem  +  2.0066889632vw , 1.875rem );
  }
}
@media (max-width: 47.99875em) {
  .registry-member__sub-title {
    font-size: 1.125rem;
  }
}
@media (max-width: 63.99875em) {
  .registry-member__sub-title {
    margin-bottom: 1.875rem;
  }
}
.registry-member__bottom-b {
  max-width: 36.5625rem;
  display: flex;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}
@media (max-width: 47.99875em) {
  .registry-member__bottom-b {
    max-width: 100%;
  }
}
.registry-member__icon {
  padding: 2.3125rem 2.1875rem;
  display: flex;
}
.registry-member__icon img {
  display: block;
  height: 44px;
}
@media (max-width: 63.99875em) {
  .registry-member__icon {
    padding: 1.4375rem 1.25rem;
  }
}
.registry-member__text {
  padding: 1.875rem;
  font-weight: 700;
  line-height: 140%;
  position: relative;
}
.registry-member__text::before {
  content: "";
  width: 0.0625rem;
  height: 67.7%;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 50%;
  transform: translate(0px, -50%);
  left: 0;
}
@media (max-width: 63.99875em) {
  .registry-member__text {
    padding: 1.4375rem 1.25rem;
    font-size: 0.875rem;
    padding-right: 0.9375rem;
  }
}
.registry-member__img {
  max-width: 36.125rem;
  min-width: 21.75rem;
}
.registry-member__img img {
  max-width: 100%;
}
@media (max-width: 47.99875em) {
  .registry-member__img img {
    flex: none;
    display: none;
    z-index: 0;
    position: absolute;
    height: 100%;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 0px);
    object-fit: cover;
  }
}
@media (max-width: 63.99875em) {
  .registry-member__img {
    flex: 0 0 348px;
  }
}
@media (max-width: 47.99875em) {
  .registry-member__img {
    flex: none;
    max-width: 100%;
    background: url("../img/crest-mobil.webp") bottom 10px left 50%/contain no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}
@media (max-width: 23.43625em) {
  .registry-member__img {
    background-size: 248px;
    background-position: bottom 50% left 25%;
  }
}

.bottom-blcok {
  background-color: #eff1f7;
  padding: 9.375rem 0;
}
@media (max-width: 63.99875em) {
  .bottom-blcok {
    padding: 3.75rem 0;
  }
}
.bottom-blcok__container {
  display: flex;
  justify-content: space-between;
  column-gap: 25px;
}
@media (max-width: 85.37375em) {
  .bottom-blcok__container {
    flex-direction: column;
    row-gap: 2.5rem;
  }
}
.bottom-blcok__us-about, .bottom-blcok__blog-out {
  max-width: 750px;
  box-shadow: -20px -20px 34px rgba(255, 255, 255, 0.8), -5px -5px 10px #ffffff, 5px 5px 13px rgba(210, 218, 227, 0.3), 15px 10px 30px rgba(210, 218, 227, 0.7);
  border-radius: 40px;
  padding: 3.75rem 0;
}
@media (min-width: 95em) {
  .bottom-blcok__us-about, .bottom-blcok__blog-out {
    padding-left: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 95em) {
  .bottom-blcok__us-about, .bottom-blcok__blog-out {
    padding-left: clamp( 1.875rem , 1.375rem  +  2.5vw , 3.75rem );
  }
}
@media (max-width: 20em) {
  .bottom-blcok__us-about, .bottom-blcok__blog-out {
    padding-left: 1.875rem;
  }
}
@media (min-width: 95em) {
  .bottom-blcok__us-about, .bottom-blcok__blog-out {
    padding-right: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 95em) {
  .bottom-blcok__us-about, .bottom-blcok__blog-out {
    padding-right: clamp( 1.875rem , 1.375rem  +  2.5vw , 3.75rem );
  }
}
@media (max-width: 20em) {
  .bottom-blcok__us-about, .bottom-blcok__blog-out {
    padding-right: 1.875rem;
  }
}
@media (max-width: 85.37375em) {
  .bottom-blcok__us-about, .bottom-blcok__blog-out {
    max-width: 100%;
  }
}
@media (max-width: 47.99875em) {
  .bottom-blcok__us-about, .bottom-blcok__blog-out {
    padding: 3.75rem 0.9375rem;
  }
}

.our-blog {
  padding-bottom: 6.8125rem;
}
@media (max-width: 63.99875em) {
  .our-blog {
    padding-bottom: 3.75rem;
  }
}
.our-blog__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}
.our-blog__link {
  color: #0056fe;
  line-height: 150%;
  padding-right: 0.9375rem;
  font-weight: 700;
}
@media (max-width: 63.99875em) {
  .our-blog__link {
    padding-right: 0;
  }
}
@media (max-width: 47.99875em) {
  .our-blog__link {
    font-size: 0.875rem;
  }
}
.our-blog__item {
  display: inline-block;
  line-height: 120%;
  width: 100%;
}
.our-blog__item:not(:last-child) {
  padding-bottom: 1.875rem;
  border-bottom: 1px solid #dee3f2;
  margin-bottom: 1.875rem;
}
@media (max-width: 63.99875em) {
  .our-blog__item:not(:last-child) {
    padding-bottom: 0.9375rem;
    margin-bottom: 0.9375rem;
  }
}
@media (max-width: 47.99875em) {
  .our-blog__item {
    font-size: 1rem;
    line-height: 120%;
  }
}

@media (max-width: 47.99875em) {
  .about-us {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
.about-us__title {
  margin-bottom: 6rem;
}
@media (max-width: 63.99875em) {
  .about-us__title {
    text-align: center;
    margin-bottom: 2.5rem;
  }
}
.about-us__slider {
  margin-bottom: 3.75rem;
}
@media (max-width: 63.99875em) {
  .about-us__slider {
    margin-bottom: 2.5rem;
  }
}
@media (max-width: 47.99875em) {
  .about-us__slider {
    margin-bottom: 1.25rem;
  }
}
.about-us__swiper {
  align-items: center;
}
.about-us__slide {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-end;
}
.about-us__slide.swiper-slide-active {
  width: 140px !important;
  height: 140px;
  background-color: #eff1f7;
  border-radius: 50%;
  left: 212px;
  justify-content: center;
  box-shadow: inset -3px -4px 7px #ffffff, inset 3px 3px 7px rgba(136, 165, 191, 0.56);
}
@media (max-width: 47.99875em) {
  .about-us__slide.swiper-slide-active {
    width: 5.1875rem !important;
    height: 5.1875rem;
  }
}
.about-us__slide.swiper-slide-active .about-us__img {
  background-color: #eff1f7;
}
.about-us__slide.swiper-slide-active .about-us__img img {
  width: 100px;
  max-width: 100%;
}
@media (max-width: 47.99875em) {
  .about-us__slide.swiper-slide-active .about-us__img img {
    width: 90px;
  }
}
.about-us__slide.swiper-slide-next, .about-us__slide.swiper-slide-prev {
  justify-content: center;
}
.about-us__slide.swiper-slide-next .about-us__img, .about-us__slide.swiper-slide-prev .about-us__img {
  width: 96px !important;
  height: 96px;
}
@media (max-width: 47.99875em) {
  .about-us__slide.swiper-slide-next .about-us__img, .about-us__slide.swiper-slide-prev .about-us__img {
    width: 3.75rem !important;
    height: 3.75rem;
  }
}
.about-us__slide.swiper-slide-next .about-us__img img, .about-us__slide.swiper-slide-prev .about-us__img img {
  width: 50px;
  max-width: 100%;
}
@media (max-width: 47.99875em) {
  .about-us__slide.swiper-slide-next .about-us__img img, .about-us__slide.swiper-slide-prev .about-us__img img {
    width: 30px;
  }
}
@media (max-width: 26.875em) {
  .about-us__slide {
    margin-left: -0.0625rem;
  }
}
@media (max-width: 22.49875em) {
  .about-us__slide {
    margin-left: -0.09375rem;
  }
}
@media (max-width: 21.87375em) {
  .about-us__slide {
    margin-left: -0.125rem;
  }
}
@media (max-width: 21.87375em) {
  .about-us__slide {
    margin-left: -0.15625rem;
  }
}
.about-us__img {
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px !important;
  height: 80px;
}
@media (max-width: 47.99875em) {
  .about-us__img {
    width: 3.125rem !important;
    height: 3.125rem;
  }
}
.about-us__img img {
  width: 40px;
}
@media (max-width: 47.99875em) {
  .about-us__img img {
    width: 25px;
  }
}
.about-us__text {
  text-align: center;
  line-height: 120%;
  max-width: 27.0625rem;
  margin: 0 auto;
}
@media (min-width: 63.99875em) {
  .about-us__text {
    font-size: 1.625rem;
  }
}
@media (min-width: 26.875em) and (max-width: 63.99875em) {
  .about-us__text {
    font-size: clamp( 1rem , 0.5475436883rem  +  1.683558369vw , 1.625rem );
  }
}
@media (max-width: 26.875em) {
  .about-us__text {
    font-size: 1rem;
  }
}
@media (max-width: 47.99875em) {
  .about-us__text {
    padding: 0 1.625rem;
  }
}

.swiper-slide-next + .about-us__slide {
  justify-content: flex-start;
}

.why-us__swiper_two {
  grid-template-columns: 1fr 1fr;
}

.why-us__swiper_three {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}
.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}
